@page "{id:int}"
@model JMuelbert.BDE.Pages.ChipCards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChipCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipCard.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.Locked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipCard.Locked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipCard.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.Employee)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>
                @foreach (var item in Model.ChipCard.Employee)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.ChipCardProfile)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Number</th>
                </tr>
                @foreach (var item in Model.ChipCard.ChipCardProfile)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipCard.ChipCardDoor)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Number</th>
                </tr>
                @foreach (var item in Model.ChipCard.ChipCardDoor)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ChipCard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
