@page
@model jmbde.Pages.CityNames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityName[0].LastUpdate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CityName) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CityNameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CityNameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CityNameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
