@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Models.Printer>
@{
	ViewBag.Title = @Localizer["Printer"];
}

<h2>
    @Localizer["Printer"]
</h2>

<p>
	<a role="button" asp-action="Create">Create a New Printer</a>
</p> 
<table id="Printer" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serialnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Network)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PapersizeMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>                       
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevicenameID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevicetypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Serialnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Network)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetworkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Replace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resources)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PapersizeMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Copier)
                </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>                            
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevicenameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevicetypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                  <td>
                        <a role="button" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a role="button" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a role="button" asp-action="Delete" asp-route-id="@item.ID">Delete</a> 
                    </td>
            </tr>
        }        
    </tbody>
</table>
