@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Models.Chipcardprofile>

@{
	ViewBag.Title = @Localizer["Chipcardprofile"];
}

<h2>
    @Localizer["Chipcardprofile"]
</h2>

<p>
	<a role="button" asp-action="Create">Create a New Chipcard Profile</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    <a role="button" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a role="button" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a role="button" asp-action="Delete" asp-route-id="@item.ID">Delete</a> 
                </td>
            </tr>
        }        
    </tbody>
</table>