@page "{id:int}"
@model JMuelbert.BDE.Pages.Manufacturers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Supporter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Supporter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Street22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Street22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.MailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.MailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.FaxNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.FaxNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.HotlineNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.HotlineNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manufacturer.ManufacturerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
