@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Computer
@{
	ViewData["Title"] = "Details";
}

<h2>Computer</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horinzontal">           
        <dt>
            @Html.DisplayNameFor(model => model.NetworkName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ComputerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
