@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Data.Computer>
@{
	ViewBag.Title = @Localizer["Computer"];
}

<h2>
    @Localizer["Computer"]
</h2>

<p>
	<a role="button" class="btn btn-primary" asp-action="Create">Create a New Computer</a>
</p>

<table id="computer" class="table table-condensed table-hover table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NetworkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Firstname)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NetworkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Firstname)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NetworkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Firstname)
                </td>
                  <td>
                        <a role="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a role="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    </td>
            </tr>
        }        
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#computer').DataTable();
        } );
    </script>
}