@page "{id:int}"
@model JMuelbert.BDE.Pages.Mobiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.Pin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.Pin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.Replace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.Replace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mobile.MobileId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
