@page
@model jmbde.Pages.Computers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.ServiceTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ServiceTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.ServiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ServiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Memory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Memory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Network)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Network)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.NetworkIpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.NetworkIpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Replace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Replace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.LastUpdate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Computer.ComputerId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
