@page
@model JMuelbert.BDE.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmployeeIdentSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].EmployeeIdent)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GenderSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].Gender)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BirthDaySort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].BirthDay)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Department)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Employee[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomeMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomeMailAddress)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BusinessMailAddress)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DataCareSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].DataCare)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ActiveSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].IsActive)
                </a>
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Employee[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Notes)
            </th> *@
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.HireDateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].HireDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EndDateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].EndDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastUpdateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].LastUpdate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeIdent)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department.Name)
    </td>
    @* <td>
        @Html.DisplayFor(modelItem => item.Street)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomePhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomeMobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomeMailAddress)
    </td> *@
    <td>
        @Html.DisplayFor(modelItem => item.BusinessMailAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataCare)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    @* <td>
        @Html.DisplayFor(modelItem => item.Photo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td> *@
    <td>
        @Html.DisplayFor(modelItem => item.HireDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastUpdate)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Employee.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Employee.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
