@page
@model JMuelbert.BDE.Pages.Processors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.ClockRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.ClockRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.Cores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.Cores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Processor.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
