@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model jmbde.Data.Employee
@{
	ViewBag.Title = @Localizer["Delete Employee"];
}

<h2>
    @Localizer["Delete Employee"]
</h2>

<h3>
    @Localizer[”Are you sure want to delete this ?"]
</h3>

@if (ViewBag.Retry)
{
    <p class="alert-danger">@Localizer["Error deleting. Retry ?"]</p>
}

<div>
    <dl>
        @Html.DisplayNameFor(model => model.Timestamp)
    </dl>
    <dd>
        @Html.DisplayFor(model => model.Lastname)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Firstname)
    </dt>
    <dl>
        @Html.DisplayFor(model => model.Firstname)
    </dl>
    
    <div>
        <form asp-controller="Employee" asp-action="Delete" method="POST">
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value=@Localizer["Delete"] /> 
                <a role="button" class="btn btn-info" asp-controller="Employee" asp-action="Index">@Localizer["Back to List"]</a>
            </div>
        </form>
        <p><a asp-controller="Employee" asp-action="Index">@Localizer["Back to List"]</a></p>
    </div>
</div>