@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Models.Employee>
    
@{
	ViewBag.Title = @Localizer["Employees"];
}

<h2>
    @Localizer["Employee"]
</h2>

<p>
    <a role="button" asp-action="Create">@Localizer["Create a New Employee"]</a> 
</p>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Middlename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>   
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>    
                <th>
                    @Html.DisplayNameFor(model => model.CityID)
                </th>        
                <th>
                    @Html.DisplayNameFor(model => model.Homephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Homemobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Homeemail)
                </th>     
                <th>
                    @Html.DisplayNameFor(model => model.Businessemail)
                </th>                                           
                <th>
                    @Html.DisplayNameFor(model => model.Datacare)
                </th>                                           
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>          
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>         
                <th>
                    @Html.DisplayNameFor(model => model.Startdate)
                </th>                     
                <th>
                    @Html.DisplayNameFor(model => model.Enddate)
                </th>   
                <th>
                    @Html.DisplayNameFor(model => model.CompanyID)
                </th>                          
                <th>
                    @Html.DisplayNameFor(model => model.PhoneID)
                </th>     
                <th>
                    @Html.DisplayNameFor(model => model.MobileID)
                </th>   
                <th>
                    @Html.DisplayNameFor(model => model.FaxID)
                </th>            
                <th>
                    @Html.DisplayNameFor(model => model.ChipcardID)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>                                                              
                <th>
                    <p>Action</p>
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nr)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>  
                   <td>
                        @Html.DisplayFor(modelItem => item.TitleID)
                    </td>                                      
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Middlename)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>item.Birthday)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>       
                   <td>
                        @Html.DisplayFor(modelItem => item.CityID)
                    </td>       
                   <td>
                        @Html.DisplayFor(modelItem => item.Homephone)
                    </td>   
                   <td>
                        @Html.DisplayFor(modelItem => item.Homemobile)
                    </td>                    
                   <td>
                        @Html.DisplayFor(modelItem => item.Homeemail)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Businessemail)
                    </td>                    
                   <td>
                        @Html.DisplayFor(modelItem => item.Datacare)
                    </td>       
                   <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>                                 
                   <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>         
                   <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Startdate)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Enddate)
                    </td>     
                   <td>
                        @Html.DisplayFor(modelItem => item.CompanyID)
                    </td>                                               
                   <td>
                        @Html.DisplayFor(modelItem => item.PhoneID)
                    </td>                    
                   <td>
                        @Html.DisplayFor(modelItem => item.MobileID)
                    </td>     
                   <td>
                        @Html.DisplayFor(modelItem => item.FaxID)
                    </td>          
                   <td>
                        @Html.DisplayFor(modelItem => item.ChipcardID)
                    </td>                     
                   <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>                                            
                    <td>
                       <a role="button" asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |  
                        <a role="button" asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> | 
                        <a role="button" asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
