@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<jmbde.Models.Employee>
@{
	ViewBag["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Employee</h4>
    <hr />
	<a asp-action="Create">Create a New Employee</a>

    <div class="row">
        <div class="col-md-4">

            <table id="employee" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeNr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeNr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

