@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Data.Employee
@{
	ViewBag.Title = "Employee Details";
}

<h2>
    Employee Details
</h2>

<div class="row">
    <div id="id" class="col-sm-2">
        <strong>
        @Html.DisplayNameFor(model => model.EmployeeNr)
        </strong>
    </div>
    <div id="id-value" class="col-sm-4">
        @Html.DisplayFor(model => model.EmployeeNr)
    </div>
</div>
<div class="row">
    <div id="name" class="col-sm-2">
        @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div id="id-value" class="col-sm-4">
        @Html.DisplayFor(model => model.Firstname)
        &nbsp;
        @Html.DisplayFor(model => model.Lastname)
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <strong>
        @Html.DisplayNameFor(model => model.Businessemail)
        </strong>
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.Businessemail)
    </div>       
</div>
<div class="row">
    <div class="col-sm-2">
        <strong>
        @Html.DisplayNameFor(model => model.ChipcardId)
        </strong>
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.ChipcardId)
    </div>
</div>
<div class="row">
    <label class="control-label col-sm-3 col-md-2" asp-for="Active"></label>
    <div class="col-sm-9 col-md-10">
        <div class="checkbox">
            <input type="checkbox" class="check-box" name="Active" id="Active" value="true" data-val="true" />
            <input name="Active" type="hidden" value="false" />
        </div>
    </div>  
</div>
<div class="row">
    <label class="control-label col-sm-3 col-md-2" asp-for="Datacare"></label>
    <div class="col-sm-9 col-md-10">
        <div class="checkbox">
            <input type="checkbox" class="check-box" name="Datacare" id="Datacare" value="true" data-val="true" />
            <input name="Datacare" type="hidden" value="false" />
        </div>
    </div>
</div>

<p>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a>  
    <a class="btn btn-primary" asp-action="Index">Back to List</a> 
</p>
