@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Data.Employee>
@{
	ViewBag.Title = @Localizer["Employees"];
}

<h2>
    @Localizer["Employee"]
</h2>

<p>
    <a role="button" class="btn btn-primary" asp-action="Create">@Localizer["Create a New Employee"]</a> 
</p>

<table id="employee" class="table table-condensed table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    <p>Action</p>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    <p>Action</p>
                </th>
            </tr>
        </tfoot>
        <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                       <a role="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.EmployeeId">@Localizer["Edit"]</a>  
                        <a role="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.EmployeeId">@Localizer["Details"]</a>  
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EmployeeId">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
        
@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#employee').DataTable();
        } );
    </script>
}