@page
@model jmbde.Pages.ZipCodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Code: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode[0].Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode[0].LastUpdate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZipCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZipCodeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ZipCodeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZipCodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
