@page "{id:int}"
@model JMuelbert.BDE.Pages.Functions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Function</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Function.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Function.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Function.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Function.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Function.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Function.LastUpdate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Function.FunctionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
