@page "{id:int}"
@model JMuelbert.BDE.Pages.Computers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.ServiceTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ServiceTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.ServiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ServiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Memory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Memory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Network)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Network)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.NetworkIpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.NetworkIpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Replace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.Replace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Software)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
                @foreach (var item in Model.Computer.Software)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Version)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Computer.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
