@page "{id:int}"
@model JMuelbert.BDE.Pages.Softwares.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Revision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.Revision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Fix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.Fix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Software.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
