@page
@model jmbde.Pages.Softwares.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Software[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Software[0].Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Software[0].Revision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Software[0].Fix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Software[0].LastUpdate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Software) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SoftwareId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SoftwareId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SoftwareId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
