@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<jmbde.Models.Fax>
@{
	ViewBag.Title = @Localizer["Faxes"];
}

<h2>
    @Localizer["Employee"]
</h2>

<p>
    <a role="button" asp-action="Create">@Localizer["Create a Fax"]</a> 
</p>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serialnumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>       
                 <th>
                    @Html.DisplayNameFor(model => model.CompanyID)
                </th>                         
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DevicenameID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DevicetypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.InventoryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrinterID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>

                <th>
                    <p>Action</p>
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serialnumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Replace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>                      
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyID)
                    </td>  
                    <td>
                        @Html.DisplayFor(modelItem => item.DevicenameID)
                    </td>      
                    <td>
                        @Html.DisplayFor(modelItem => item.DevicetypeID)
                    </td>                      
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceID)
                    </td>                     
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentID)
                    </td>                
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryID)
                    </td>                                
                    <td>
                        @Html.DisplayFor(modelItem => item.PrinterID)
                    </td>           
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>                                      
                    <td>
                       <a role="button" asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |  
                        <a role="button" asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> | 
                        <a role="button" asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
</table>