@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Data.Phone
@{
	ViewBag.Title = "Phone Details";
}

<h2>
    Phone Details
</h2>

<div>
    <dl class="dl-horinzontal">
        
              <dt>@Html.DisplayNameFor(model => model.Employee)</dt>
        <dd>@Html.DisplayFor(model => model.Employee.Firstname)
            @Html.DisplayFor(model => model.Employee.Lastname)</dd>
            
            
        <dt>@Html.DisplayNameFor(model => model.Number)</dt>
        <dd>@Html.DisplayFor(model => model.Number)</dd>
        
  
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
