@page "{id:int}"
@model JMuelbert.BDE.Pages.JobTitles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobTitle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobTitle.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
