@page
@model jmbde.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle[0].FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle[0].LastUpdate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobTitleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobTitleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobTitleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
