@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model JMuelbert.BDE.Pages.Printers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Printer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.ServiceTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.ServiceTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.ServiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.ServiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Network)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Network)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.NetworkIpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.NetworkIpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Replace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Replace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Resources)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Resources)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.PaperSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.PaperSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Printer.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Printer.LastUpdate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Printer.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
