@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<jmbde.Models.Mobile>
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Mobile</h4>
    <hr />
	<a asp-action="Create">Create a New Mobile</a>

    <div class="row">
        <div class="col-md-4">

            <table id="mobile" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.MobileId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.MobileId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.MobileId">Delete</a>
                            </td> 
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
        
