@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Computer
@{
	ViewBag.Title = "Computer Details";
}

<h2>
    Computer Details
</h2>

<div>
    <dl class="dl-horinzontal">
        <dt>@Html.DisplayNameFor(model => model.Employee)</dt>
            <dd>@Html.DisplayFor(model => model.Employee.FirstName)
            @Html.DisplayFor(model => model.Employee.Name)</dd>
            
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Active)</dt>
        <dd>@Html.DisplayFor(model => model.Active)</dd>
 
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
