@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model JMuelbert.BDE.Pages.Faxes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fax</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax.Number)
        <dd class="col-sm-10">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.Pin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax.Pin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.Replace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax.Replace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax.LastUpdate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Fax.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
