@page
@model JMuelbert.BDE.Pages.SystemDatas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.SystemData[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemData[0].Local)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastUpdateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.SystemData[0].LastUpdate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SystemData)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Local)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastUpdate)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.SystemDataId">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.SystemDataId">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.SystemDataId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.SystemData.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.SystemData.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.SystemData.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.SystemData.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
